@font-face {
  font-family: 'Pilowlava-Regular';
   src: url('/font/Pilowlava-Regular.otf') format('opentype');
	 font-weight: normal;
	 font-style: normal;
}

@font-face {
  font-family: 'Karma-Medium';
   src: url('/font/Karma-Medium.ttf') format('truetype');
	 font-weight: normal;
	 font-style: normal;
}
